
    body {
      font-family: Arial, sans-serif;
      background: #82b0df;
      margin: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      background: rgb(219, 211, 211);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: calc(33% - 10px);
    }

    button {
      padding: 8px 12px;
      background-color: #f700ff;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: #f700ff;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: white;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    th, td {
      border: 1px solid #eee;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f700ff;
      color: white;
    }

    td button {
      background-color: #28a745;
      margin-right: 5px;
    }

    td button.eliminar {
      background-color: #dc3545;
    }
